/*$body*/
body{
    background-color: ;
    padding-top: 1%;
    padding-right: 1%;
    flex-direction: row;
}

body .content{
    margin: 50px;
    padding: 20px;
    background-color: #ffdf68;
    border: 2px solid #ff9757;
    border-radius: 10px;
}

body .feed-container{
    padding-left: 18%;
}

/*$input*/
input[type=submit] {
    padding:5px 15px;
    background: white ;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #ff9757;
}

input[type="submit"]:hover {
    border: 1px solid #ffffff;
    color: #000;
}

/*Atomic Css*/
.w-full{
    width: 100%;
}

.p-20{
    padding: 20px;
}
